@page
@model CSPHARMA.Pages.EP.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TdcTchEstadoPedido[0].MdDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TdcTchEstadoPedido[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TdcTchEstadoPedido[0].CodEstadoEnvio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TdcTchEstadoPedido[0].CodEstadoPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TdcTchEstadoPedido[0].CodEstadoDevolucion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TdcTchEstadoPedido[0].CodPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TdcTchEstadoPedido[0].CodLinea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TdcTchEstadoPedido[0].MdUu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TdcTchEstadoPedido[0].MdUu1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TdcTchEstadoPedido[0].MdUu2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TdcTchEstadoPedido[0].MdUuNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TdcTchEstadoPedido) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MdDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodEstadoEnvio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodEstadoPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodEstadoDevolucion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodLinea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MdUu.MdUuid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MdUu1.MdUuid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MdUu2.MdUuid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MdUuNavigation.MdUuid)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MdUuid">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.MdUuid">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.MdUuid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
